body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 25px;
  line-height: 0.4;
  font-weight: 400;
}

h1.line {
  border-left: solid 5px #4bad93;
  padding-left: 10px;
  line-height: 1.0;
  font-size: 18px;
  font-weight: 400;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 0.6;
  color: #4bad93;
}

/* Custom scrollbar styles */
.ps__rail-y {
  background-color: rgba(0, 0, 0, 0.1);
  /* Change background color for scrollbar rail */
  width: 10px;
  /* Width of the scrollbar */
}

.ps__thumb-y {
  background-color: #007bff;
  /* Change color of the scrollbar thumb */
  border-radius: 5px;
  /* Round the edges */
}

/* Dark mode scrollbar styles */
body[data-theme='dark'] .ps__rail-y {
  background-color: rgba(255, 255, 255, 0.1);
}

body[data-theme='dark'] .ps__thumb-y {
  background-color: #ff5722;
  /* Color for the thumb in dark mode */
}